<h1 align="center"><u>New Coll Vcr</u></h1>
<hr style="color:green; ">

<%= render 'form', coll_vcr: @coll_vcr %>

<br>
<div align="center"><%= link_to 'Back', coll_vcrs_path, class: "btn btn-success" %></div>
