 table,

       th {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th{
            padding: 1px;
            text-align: center;}
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        /* setting the text-align property to center*/
        td {
            padding: 1px;
            text-align: center;
        }

        
